<h1 i18n="@@heading"> Hello Internationalization its prateek!</h1>
<h2 i18n="Meta Data | Hello i am representing the meta data for internationalization@@checkLang ">Meta Data for i18n prepaired by Prateek</h2>
<p>
    <a i18n="@@aTag" i18n-href="@@href1" i18n-title="@@title1" href="/en-JA/portfolio" title="attribute Check">Attribute Check</a>
  </p>

  <span i18n="@@pluralization">
    {tasksCount, plural, zero {no tasks} one {one task} other { {{tasksCount}} tasks}}
  </span>

  <p>{{today | date:'fullDate'}}</p>
  <p>{{newTitle}}</p>


  <!-- <ul>
     @for(locale of localeList; track locale.code){
        <li>
            <a (click)="changeLanguage(locale.code)">{{locale.label}}</a>
        </li>
     }
    
  </ul> -->

<router-outlet />
