<h1 (click)="changeLanguage('en')">Test</h1>
Welcome Message: {{ welcome }} {{ nameValue }}


<h1 > {{heading}}</h1>
<h2 >{{metaData}}</h2>
<p>
  <a  [href]="href" title="attribute Check"> Attribute</a>
</p>


<select >
  <option *ngFor="let option of options" [value]="option.id" >{{ option.value }}</option>
</select>


<input  [placeholder]="placeholder" name="placeholder"/>

<img [src]="imageValue"  [alt]="imageValue" />


<button >{{submit}}</button>
<div >{{div}}</div>


<h1 (click)="changeLanguage('en')">Test</h1>
Welcome Message: {{ welcome1 }} {{ nameValue }}


<h1 > {{heading}}</h1>
<h2 >{{metaData}}</h2>
<p>
  <a  [href]="href" title="attribute Check"> Attribute</a>
</p>


<select >
  <option *ngFor="let option of options" [value]="option.id" >{{ option.value }}</option>
</select>


<input  [placeholder]="placeholder" name="placeholder"/>

<img [src]="imageValue"  [alt]="imageValue" />


<button >{{submit}}</button>
<div >{{div}}</div>



 