<h1 >{{ "title" | translate}}</h1>
<h2>{{"metaData" | translate}}</h2>
<p>
  <a [href]="'src' | translate" title="attribute Check">{{"name.label"}}</a>
</p>

  
  <p>{{today | date:(translate.instant('DATE_FORMAT'))}}</p>
  <p>{{newTitle}}</p>


  <input  [placeholder]="'name.placeholder' | translate" />


  <select >
  <option *ngFor="let gender of genderList" value="{{ 'gender.options.' + gender | translate }}" >{{ "gender.options." + gender | translate }}</option>
</select>

<img src="app.png" [alt]="'comment.label' | translate" />

<button (click)="changeLanguage()" > only btn {{"submit.label" | translate}}</button>
<div >{{"submit.label" | translate}}</div>

<h1 >{{ "title" | translate}}</h1>
<h2>{{"metaData" | translate}}</h2>
<p>
  <a [href]="'src' | translate" title="attribute Check">{{"name.label"}}</a>
</p>

  
  <p>{{today | date:(translate.instant('DATE_FORMAT'))}}</p>
  <p>{{newTitle}}</p>


  <input  [placeholder]="'name.placeholder' | translate" />


  <select >
  <option *ngFor="let gender of genderList" value="{{ 'gender.options.' + gender | translate }}" >{{ "gender.options." + gender | translate }}</option>
</select>

<img src="app.png" [alt]="'comment.label' | translate" />

<button >{{"submit.label" | translate}}</button>
<div >{{"submit.label" | translate}}</div>

<h1 >{{ "title" | translate}}</h1>
<h2>{{"metaData" | translate}}</h2>
<p>
  <a [href]="'src' | translate" title="attribute Check">{{"name.label"}}</a>
</p>

  
  <p>{{today | date:(translate.instant('DATE_FORMAT'))}}</p>
  <p>{{newTitle}}</p>


  <input  [placeholder]="'name.placeholder' | translate" />


  <select >
  <option *ngFor="let gender of genderList" value="{{ 'gender.options.' + gender | translate }}" >{{ "gender.options." + gender | translate }}</option>
</select>

<img src="app.png" [alt]="'comment.label' | translate" />

<button >{{"submit.label" | translate}}</button>
<div >{{"submit.label" | translate}}</div>

<h1 >{{ "title" | translate}}</h1>
<h2>{{"metaData" | translate}}</h2>
<p>
  <a [href]="'src' | translate" title="attribute Check">{{"name.label"}}</a>
</p>

  
  <p>{{today | date:(translate.instant('DATE_FORMAT'))}}</p>
  <p>{{newTitle}}</p>


  <input  [placeholder]="'name.placeholder' | translate" />


  <select >
  <option *ngFor="let gender of genderList" value="{{ 'gender.options.' + gender | translate }}" >{{ "gender.options." + gender | translate }}</option>
</select>

<img src="app.png" [alt]="'comment.label' | translate" />

<button >{{"submit.label" | translate}}</button>
<div >{{"submit.label" | translate}}</div>

<h1 >{{ "title" | translate}}</h1>
<h2>{{"metaData" | translate}}</h2>
<p>
  <a [href]="'src' | translate" title="attribute Check">{{"name.label"}}</a>
</p>

  
  <p>{{today | date:(translate.instant('DATE_FORMAT'))}}</p>
  <p>{{newTitle}}</p>


  <input  [placeholder]="'name.placeholder' | translate" />


  <select >
  <option *ngFor="let gender of genderList" value="{{ 'gender.options.' + gender | translate }}" >{{ "gender.options." + gender | translate }}</option>
</select>

<img src="app.png" [alt]="'comment.label' | translate" />

<button >{{"submit.label" | translate}}</button>
<div >{{"submit.label" | translate}}</div>


<router-outlet />
