<h1 (click)="changeLanguage('en')">Test</h1>
Welcome Message: {{ welcome }} {{ nameValue }}


<h1 > {{heading}}</h1>
<h2 >{{metaData}}</h2>
<p>
  <a  [href]="href" title="attribute Check">Attribute Check</a>
</p>

  <!-- <span>
    {tasksCount, plural, zero {no tasks} one {one task} other { {{tasksCount}} tasks}}
  </span>

  <p>{{today | date:'fullDate'}}</p>
  <p>{{newTitle}}</p>


  <input  placeholder="Enter your name" />


  <select >
  <option *ngFor="let option of options" [value]="option.value" >{{ option.label }}</option>
</select>

<img src="app.png"  alt="Alt text for logo image" />

<button >Submit</button>
<div >Submit</div> -->